p {
  text-align: center;
  font-size: 30px;
  pointer-events: none;
}
body {
  display: grid;
  grid-column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.running {
  background: darkseagreen;
}
.finished {
  background: gold;
}
.overtime {
  background: firebrick;
}
